<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        .row>div {
            border: 1px solid lightgrey;
            padding: 10px;
            background-color: aliceblue;
            margin: 5px 0;
        }
    </style>
</head>

<body class="m-1 p-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <table>
                    <tr>
                        <th>Name</th>
                        <select class='form-control' #product [(ngModel)]="selectedProduct">
                            <option *ngFor="let p of products" [ngValue]="p">{{p.name}}</option>
                        </select>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <select class='form-control' #quantity [(ngModel)]="selectedQuantity">
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                        </select>
                    </tr>

                    <tr>
                        <th>Price</th>
                        <td *ngIf="selectedProduct">
                            {{selectedProduct.price*selectedQuantity | currency:"AUD":"symbol":"2.2-2"}}
                        </td>
                    </tr>

                    <tr>
                        <td style="width:50%;">
                            <button class="btn btn-primary mt-1"
                                    (click)="addItemToShoppingCart(selectedProduct.name, quantity.value, selectedProduct.price*selectedQuantity)">
                                Add
                            </button>
                        </td>

                        <td style="width:50%;" align="right">
                            <button class="btn btn-primary mt-1" (click)="clear()">
                                Cancel
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
                <div class="col-lg-9 float-lg-right">
                        <h3>Shopping Cart</h3>
                        <table class="table table-striped ">
        
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getShoppingCartItems(); let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.product}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price | currency:"AUD":"symbol":"2.2-2"}}</td>
        
                                </tr>
                                <tr>
                                    <td colspan="3">Total:</td>
                                    <td>{{getTotal()| currency:"AUD":"symbol":"2.2-2"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



        </div>
    </div>
</body>

</html>